* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
}

.wrap_container {
    width: 100%;
}

.header {
    width: 100%;
    height: 76px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px -2px 0px #3c424c73, 0px 0px 2px #42474e4d;
    z-index: 7;
}

.header .wrap_header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #fff;
}

.wrap_header .header__logo--left {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.header__logo--left .logo_image--left {
    display: block;
    width: 96px;
}

.logo_image--left img {
    width: 100%;
}

.wrap_header .header__menu--left {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.header__menu--left .header__menu-items {
    height: 100%;
    padding: 0px 25px;
}

.header__menu-items a {
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #171a1f;
    transition: all 0.3s;
}

.header__menu-items:hover a {
    color: #0095A9;
    transform: translateY(-3px);
}

.wrap_header .header__control--right {
    height: 100%;
}

.header__control--right .wrap_header__control--right {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap_header__control--right div:not(:last-child) {
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #171a1f;
}

.wrap_header__control--right .header__control-currency {
    font-weight: 600;
}

.wrap_header__control--right .header__control-avatar {
    width: 36px;
    height: 36px;
}

.header__control-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* content */
.content {
    width: 100%;
    height: 825px;
}

.wrap_content {
    width: 100%;
    height: 100%;
    margin-top: 76px;
    padding: 0 132px;
}

.wrap_box_user {
    padding-top: 44px;
}

.btn_back i {
    font-size: 12px;
    color: #565E6CFF;
}

.btn_back a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #565E6CFF;
}

.heading_text h1 {
    font-size: 32px;
    line-height: 48px;
    color: #171A1FFF;
    margin: 5px 0 38px;
}

.wrap_box_setting {
    display: flex;
}

.box_control_setting {
    width: 308px;
    height: 332px;
    background: #FFFFFFFF;
    border-radius: 4px;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}

.box_control_setting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box_control_setting div {
    height: 100%;
}

.box_control_setting a {
    height: 100%;
    display: block;
    padding-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #323842FF;
}

.box_control_setting a>i {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-right: 12px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #565E6CFF;
    background: #F3F4F6FF;
}

.active_control {
    color: #29C3E5FF !important;
}

.box_control_setting>div:first-child>a>i {
    color: #117389FF;
    background: #F1FBFDFF;
}

/* box_infor_user */
.box_infor_user {
    width: 100%;
}

.wrap_information_user {
    margin-left: 96px;
}

.border_image_avatar {
    width: 64px;
    height: 64px;
    position: relative;
}

.border_image_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 32px;
}

.btn_edit_avatar i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    background: #323842FF;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_col_infor {
    margin-top: 32px;
}

.item_infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #DEE1E6FF;
}

.information_first div {
    font-size: 14px;
    line-height: 22px;
    color: #171A1FFF;
}

.information_first div:first-child {
    font-weight: bold;
}

.btn_edit a {
    font-size: 14px;
    line-height: 22px;
    color: #323842FF;
}

/* footer */
.footer {
    width: 100%;
    height: 275px;
}

.wrap_footer {
    width: 100%;
    height: 100%;
    background-color: #F8F9FAFF;
    padding: 40px 132px 0;
}

/* wrap_footer_contact */
.wrap_footer_contact {
    display: flex;
    justify-content: space-between;
    padding-right: 102px;
}

.footer_heading {
    font-size: 20px; 
    line-height: 30px; 
    color: #171A1FFF;
    margin: 0;
}

.footer_column > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer_list {
    font-size: 14px; 
    line-height: 28px; 
    color: #171A1FFF;
}

.footer_subHeading {
    font-size: 12px; 
    line-height: 20px; 
    color: #9095A0FF;
}

.wrap_box_email {
    display: flex;
}

.btn_email{
    width: 224px; 
    height: 36px;
    border: 1px solid #9095A0FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.btn_email > input {
    width: 190px;
    height: 100%;
    background-color: #F8F9FAFF;
    border: none;
    outline: none;
}

.btn_email > i {
    padding-left: 12px;
    padding-right: 5px;
    font-size: 16px;
    color: #171a1f;
}

.btn_sub > button {
    width: 102px; 
    height: 36px; 
    padding: 0 12px; 
    margin-left: 8px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 14px; 
    line-height: 22px; 
    color: #FFFFFFFF;
    background: #29C3E5FF; 
    opacity: 1; 
    border: none; 
    border-radius: 4px;
}

.btn_sub > button:active {
    color: #FFFFFFFF;
    background: #00d0ff;
}

/* wrap_footer_social */
.wrap_footer_social {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:  1px solid #DEE1E6FF;
    padding: 20px 0;
    margin-top: 60px;
}

.footer .footer__note > div > span {
    font-size: 14px; 
    line-height: 22px; 
    color: #171A1FFF;
}

.footer .footer__social{
    display: flex;
    align-items: center;
}

.footer .footer__social > div{
    padding: 8px;
}