* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    height: 3001px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header */
.header {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.1px solid #e8e9e9;
    background-color: #fff;
    z-index: 2;
}
.header__logo--left {
    flex: 1;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__logo--left .border_menu {
    flex: 1;
    margin-left: 3%;
}
.border_menu .menu {
    list-style-type: none;
}
.menu li {
    display: inline-block;
    min-width: 30%;
}
.menu li a {
    padding: 20px 0px;
    color: #424955FF;
    text-decoration: none;
}
.menu li:hover a {
    font-weight: bold;
    color: #0095A9FF;
    border-bottom: 3px solid #0095A9FF;
}
.header__control--right {
    flex: 1;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.text_currency {
    width: 8%;
}
.control_items {
    font-size: 14px;
    min-width: 5%;
    color: #171A1FFF;
}
.avt_user {
    width: 36px;
    height: 36px;
}
.avt_user img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
/* Content*/
.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: bisque;
    margin: 76px;
}
.border_search {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 2%;
    position: absolute;
    top: 1%;
    border: none;
    border-radius: 38px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}
.border_search .search + .search {
    min-width: 0.5%;
}
.border_search .search label,input {
    font-size: 14px;
}
.border_search .search label {
    font-weight: bold;
}
.border_search .search input {
    border: none;
    outline: none;
}
.border_search .search--button {
    padding: 1.2% 1.5%;
    border-radius: 38px;
    background-color: #00BDD6;
}
.border_search .search--button i {
    color: #fff;
    font-size: 14px;
}
.border_banner {
    width: 80%;
    height: 640px;
    position: absolute;
    top: 2%;
}
.border_banner .banner {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.border_banner .text_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
/*  <!-- A signature of excellence --> */
.border_travel {
    width: 80%;
    position: absolute;
    top: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.signature--city {
    width: 100%;
}
.signature--city p {
    margin-left: 3%;
}
.signature--city .text_signature {
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 2%;
    color: #171A1FFF;
}
.signature--city .city {
    width: 100%;
    height: 382px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.city div {
    flex: 1;
    height: 100%;
}
.city div + div {
    margin-left: 1%;
}
.city > div .city_photo {
    width: 100%;
    height: 80%;
    border-radius: 4px;
}
.city .city_name {
    font-size: 20px;
    font-weight: 600;
    color: #171A1FFF;
}
.city .detail_city {
    font-size: 12px;
    color: #9095A0FF;;
}
.signature--room {
    width: 85%;
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.signature--room > div {
    flex: 1;
    width: 100%;
    height: 100%;
}
.signature--room > div + div {
    margin-left: 1%;
}
.signature--room div {
    position: relative;
}
.signature--room div img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.signature--room .room2_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.signature--room .room2_3 div {
    height: 49%;
}
.signature--room div .text {
    position: absolute;
    top: 80%;
    left: 10%;
}
.signature--room div .room_name {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.signature--room div .detail_room {
    font-size: 12px;
    color: #fff;
}
/* <!-- Find a new possibilities --> */
.border_possibilities {
    width: 80%;
    position: absolute;
    top: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.border_possibilities .text_possibilities {
    font-size: 24px; 
    font-weight: 300;
    color: #171A1FFF;
    text-transform: uppercase;
    padding-bottom: 2%;
}
.travel_possibilities {
    width: 100%;
    height: 626px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.travel_possibilities .news_possi {
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}
.travel_possibilities .news_possi + .news_possi {
    padding-left: 1%;
    box-sizing: border-box;
}
.travel_possibilities .news_possi img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.news_possi .news_text {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 40px; 
    font-weight: bold;
    max-width: 45%;
    color: #FFFFFFFF; 
}
.news_possi button {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 14px; 
    padding: 1% 2%;
    color: #171A1FFF; 
    background: #FFFFFFFF; 
    border-radius: 6px;
    outline: none;
    border: none;
}