* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    height: 3001px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Header */
.header {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #e8e9e9;
}
.header__logo--left {
    flex: 1;
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__logo--left .border_menu {
    flex: 1;
    margin-left: 3%;
}
.border_menu .menu {
    list-style-type: none;
}
.menu li {
    display: inline-block;
    min-width: 30%;
}
.menu li a {
    padding: 20px 0px;
    color: #424955FF;
    text-decoration: none;
}
.menu li:hover a {
    font-weight: bold;
    color: #0095A9FF;
    border-bottom: 3px solid #0095A9FF;
}
.header__control--right {
    flex: 1;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text_currency {
    width: 8%;
}
.control_items {
    font-size: 14px;
    min-width: 5%;
    color: #171A1FFF;
}
.avt_user {
    width: 36px;
    height: 36px;
}
.avt_user img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}